*{
padding: 0;
margin: 0;
box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
:root{
    --primary-color:#181b20;
    --secondary-color:#baa360;
    --ligth-grey:#d9d6cf;
    --dark:#090909;
    --sm: 1.4rem;
    --md: 1.6rem;
    --lg: 1.8rem;
}
body{
    font-family: 'Roboto', sans-serif;

}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:var(--primary-color);
    padding: 2rem 5rem;
    width: 100%;
position: relative;
    z-index: 3;
}
header figure img{
    width: 6rem;
    height: 4rem;
}
ul{
    list-style: none;
}
.main-nav ul{
    display: flex;
   
    align-items: center;
    
    
}
.main-nav a{
    font-size: var(--md);
    text-decoration: none;
    color: var(--secondary-color);
    
    cursor: pointer;
    position: relative;
    padding: 10px 24px;
    font-size: var(--sm);
    color: var(--secondary-color);
    border: 2px solid var(--secondary-color);
    background-color: transparent;
    font-weight: 600;
    transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);
    overflow: hidden;
}
.main-nav a::before {
    content: '';
    position: absolute;
    inset: 0;
    margin: auto;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    scale: 0;
    z-index: -1;
    background-color: var(--secondary-color);
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
  }
  
  .main-nav a:hover::before {
    scale: 1;
  }
  
  .main-nav a:hover {
    color: #212121;
    scale: 1.1;
    box-shadow: 0 0px 20px rgba(193, 163, 98,0.4);
  }
  .side-nav{

    height: 100vh;
    background-color: var(--primary-color);
    width: 12%;
    position:fixed ;
    text-align: center;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    top: 0;
    
  }

  .side-nav p{
   
    font-size: var(--md);
    font-weight: 700;
    margin-bottom: 4rem;
    color: var(--secondary-color);
    border-bottom: var(--secondary-color) solid 0.1rem;
    padding-bottom: 1.2rem;
  }

  .side-nav a{
    text-decoration: none;
    font-size: var(--sm);
    font-weight: 500;
    color: azure;
    text-align: center;
   
  }
  .side-nav a:before {
    background-color: #fff;
    content: "";
    display: inline-block;
    height: 1px;
    margin-right: 10px;
    transition: all .42s cubic-bezier(.25,.8,.25,1);
    width: 0;
  }
  .side-nav a:hover:before {
    background-color: #fff;
    width: 3rem;
  }
  .side-nav ul{
    margin-bottom: 15rem;
  }
  .side-nav li{
    margin: 5rem 0;
  }
.galery{
    display: flex;
    width: 88%;
    height: 30rem;
}
.galery img{
    width: 0;
    flex-grow: 1;
    object-fit: cover;
    opacity: .8;
    transition: .5s ease;
}
.galery img:hover{
    cursor: crosshair;
    width: 30rem;
    opacity: 1;
    filter: contrast(120%);
}
.container-info{
    display: flex;
    justify-content: center;
    margin: 3rem 0;
    
    gap: 20rem;
}
.container-info img{ 
    width: 35rem;
    height: 40rem;
}
.container-info section h3{
    font-size: 2.5rem;
    font-weight: 700;
    width: 30rem;
    color: white;
}
.container-info section p{
    font-size: var(--sm);
    font-weight: 300;
    margin-top: 5rem;
    width: 30rem;
}
.container-info section{
margin-top: 8rem;
}
.rectangle{
    position: absolute;
    width: 80%;
    height: 10rem;
    right: 0;
    margin-top: 6rem;
    z-index: -1;
    background-color: var(--secondary-color);
}
footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:var(--primary-color);
    padding: 2rem 5rem;
    width: 100%;
position: relative;
    z-index: 3;
}
footer p{
    color: white;
    font-size: var(--sm);
    font-weight: 200;
}
footer figure img{
    width: 6rem;
    height: 4rem;
}
footer section a img{
    width: 3rem;
    height: 3rem;
}
footer section{
    display: flex;
    justify-content: space-between;
    gap:2.2rem
}
.input {
    max-width: 190px;
    background-color:#f5f5f5;
    color: #242424 ;
    padding: .15rem .5rem;
    min-height: 40px;
    border-radius: 4px;
    outline: none;
    border: none;
    line-height: 1.15;
    box-shadow: 0px 10px 20px -18px;
  }
  
  input:focus {
    border-bottom: 2px solid var(--secondary-color);
    border-radius: 4px 4px 2px 2px;
  }
  
  input:hover {
    outline: 1px solid lightgrey;
  }
  main{
    margin:0.8rem 0 3rem 0 ;
    padding: 3rem;
    display: flex;
    justify-content: center;
    gap: 3rem;
  }

  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  .container {
    position: relative;
    cursor: pointer;
    font-size: 17px;
    width: 1em;
    margin-bottom: 1rem;
    margin-left: 1.4rem;
    height: 1em;
    user-select: none;
    border: 2px solid var(--secondary-color);
    display: block;
  }
  
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  .checkmark:after {
    content: '';
    position: absolute;
    top: 25%;
    left: 25%;
    background-color: var(--secondary-color);
    width: 50%;
    height: 50%;
    transform: scale(0);
    transition: .1s ease;
  }
  
  .container input:checked ~ .checkmark:after {
    transform: scale(1);
  }
  .container p{
    margin-left: 2.4rem;
    color: #ffffff;
    font-size: var(--sm);
  }
  .filter-button {
    padding: 12.5px 30px;
    border: 0;
    width: 100%;
    background-color: var(--secondary-color);
    color: #ffffff;
    font-weight: Bold;
    transition: all 0.5s;
    margin-top: 1.6rem;
    -webkit-transition: all 0.5s;
  }
  
  .filter-button:hover {
    background-color: var(--secondary-color);
    box-shadow: 0 0 20px #433f0350;
    transform: scale(1.1);
    
  }
  

  .container-filter{
    background-color: var(--primary-color);
    padding: 2.4rem;
  }
 .title-propierties{
    font-size: 5rem;
    color: var(--secondary-color);
    font-weight: 700;
    width: fit-content;
    border-bottom: solid 0.4rem var(--secondary-color);
    margin-left:3rem;
    margin-top: 3rem;
    
  }
  .card-house img{
    width: 100%;
    height: 25rem;
    object-fit: cover;
  }
  .card-house{
    width: 22rem;
  }
  .card-info{
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows:  1fr 1fr 1fr;
      padding:0 1.4rem;
      gap: 0.8rem;
    }
    .card-contain{
        
        background-color: var(--primary-color);
  }
    .card-contain > p{
   color: var(--secondary-color);
   font-size: var(--lg);
   font-weight: 500; 
   text-align: center;
   padding: 1.4rem;    
  }
  .card-info p{
    color:white;
    display: flex;
    align-items: center;
    ;
  }
  .card-info p svg{
    margin:0 0.4rem;
  }
  .card-house:hover{
    transform: scale(1.05);
    
  }
  .container-houses{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fill,22rem);
    gap: 1.6rem;
  }
  .subtitle-filter{
    color: var(--secondary-color);
    font-size: var(--lg);
    font-weight: 500;
    padding: 1.6rem 0;
  }
  .asesor-card{
    width: 34rem;
    position: relative;
  }
  .asesor-container{
    width: 85%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 3rem 3rem 4.8rem 6.5rem;
  }
  .asesor-card img{
    width: 100%;
    height: 40rem;
    object-fit: cover;
  }
  .asesor-content{
    background-color: var(--primary-color);
    display: grid;
    position: absolute;
    bottom:0;
    
    gap: 1.6rem;
    padding: 1.6rem;

  }
  .asesor-content p:nth-child(1){
color: var(--secondary-color);
font-size: var(--md);
  }
  .asesor-content p:nth-child(2){
color: white;
font-size: var(--lg);
  }
  .button-container img{
    width: 3rem;
    height: 3rem;
    object-fit: cover;
  }
  .button-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.8rem;
  }
  .button-container button{
    
    margin: 0;
    cursor: pointer;
    height: 3rem;
    display: flex;
    align-items: center;
  }

